body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container-fluid {
    padding: 0; /* 부트스트랩 기본 패딩 제거 */
}

.search-area {
    background-color: #ffcccc; /* 검색 영역의 배경색 */
    display: flex;
    flex-direction: column;
    height: 100vh; /* 전체 뷰포트 높이 */
}

.search-top {
    background-color: #ff9999; /* 상단 영역의 배경색 */
}

.top-top, .top-bottom {
    height: 50%;
    width: 100%;
}

.inputbox {
    width: 80%;
    height: 40%;
}

.top-bottom {
    background-color: yellowgreen; /* 하단 영역의 배경색 */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-search {
    width: 85px;
    height: 30px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #ff6666;
}

.btn-logout, .btn-login {
    height: 30px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #ff6666;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-logout:hover, .btn-login:hover {
    background-color: #ff4c4c;
}

.search-bottom {
    width: 100%;
    height: calc(100vh - 150px); /* 상단 영역 높이를 제외한 나머지 영역 */
    overflow-y: auto; /* 검색 결과가 많을 때 스크롤 가능 */
}

.bottom-list {
    border: solid 1px #ccc;
    width: 90%;
    margin: 10px auto; /* 상하 여백 추가 */
    padding: 10px; /* 내부 여백 추가 */
    box-sizing: border-box; /* 패딩 및 보더 포함하여 계산 */
    display: none;
}

.bottom-list.active {
    display: block;
}

#pagination-buttons {
    margin-top: 20px; /* 상단 여백 추가 */
    display: flex;
    gap: 5px; /* 버튼 간격 추가 */
}

#pagination-buttons button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
}

#pagination-buttons button:hover {
    background-color: #e9e9e9;
}

#pagination-buttons button.active {
    background-color: #ddd;
    font-weight: bold;
}

.map-area {
    background-color: #ccccff; /* 맵 영역의 배경색 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.map {
    width: 100%;
    height: 100%;
}